<h1>Sign In</h1>
<%= simple_form_for(:session, url: sessions_path) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit, id: "sign_in", value: "Sign In", class: 'btn-info pull-right' %>
<% end %>