[class^="icons-"]				{  display: inline-block; vertical-align: text-top; background-repeat: no-repeat;  }	
html 							{  color: #444; background-color: #eee; }
body 							{  background-color: #f4f4f4; }
h1 								{  @include white-text-shadow; clear: both; text-align: center; font-family: 'Merienda', cursive; color: #585655; font-size: 26px; padding-top: 20px; margin-bottom: 0;  }
h2 								{  @include white-text-shadow; text-align: center; color: #c1c1c0; font-size: 16px; line-height: 24px; margin-top: 0; margin-bottom: 30px; }
h3 								{  margin-bottom: 5px; }
h4 								{  font-style: 18px; }
img 							{  font-size: 0; }
p 								{  line-height: 21px; }
.progress 						{  background-image: none; border: 1px solid #ddd; background-color: #fff; }
.navbar 						{  background: none; background-color: #fff; }
.navbar-inner .nav.pull-right	{  padding-right: 40px;  }
.navbar-inner 					{  @include box-shadow(rgba(black, .0) 0 0px 1px); @include box-shadow(rgba(black, .0) 0 0px 1px inset);}
.brand 							{  color: $pastel-red; padding-left: 60px !important; padding-top: 3px !important; padding-bottom: 2px !important; font-family: 'Merienda', cursive; 
	img 						{  height: 40px; }
}
.icons-star-full-no-shadow 			{  vertical-align: top ; margin-right: 3px; }
.nav .dropdown-toggle .caret						{      border-bottom-color: #777;    border-top-color: #777; position: relative; top: 2px; }
.dropdown-menu 					{  padding: 0; }
//-----------------------Secondary Nav-------------------------------//
#secondary-nav .navbar-inner 	{  background-image: none; background-color: #eee; border-color: #ddd; 
	.nav.pull-right 			{  padding-right: 20px; }
}
.category-list  				{  padding-left: 20px;
	&.nav>li>a.btn 				{  padding: 2px 7px 3px; margin-right: 10px; line-height: 20px; height: 20px; border: 1px solid #ddd; 
		&:hover, &.active, &:focus 		{  background-image: none; background-color: #e3e3e3; }
		&.active 				{  font-weight: bold; }
		i 						{  margin-right: 3px; }
	}
}
#main-region 					{  margin-top: 45px; }
.layout-wrapper 				{  padding-left: 30px; padding-right: 20px; }
.item 							{  overflow: auto; }
li 								{  list-style: none; }
.animal 						{  cursor: pointer; @include box-shadow(rgba(black, .1) 0 0px 3px); overflow: visible; width: 200px; margin: 10px; padding: 0 10px 10px; background-color: #fff; border: 1px solid #eee; @include border-radius(3px); 
	.image-wrapper 				{  position: relative; z-index: 1; margin-bottom: 10px; 
		i 						{  position: absolute; right: 5px; top: 5px; z-index: 10; 
			&:hover, &.active 	{  background: image-url("icons/star-full.png") no-repeat;}

		}
	}
	.image-link					{  
		&:after 				{  bottom: 0; content: ""; height: 1px; left: 0; margin-top: -1px; position: absolute; right: 0; z-index: 10;}
		img						{  min-width: 100%;  max-width: 100%; max-height: 100%;	}
	}
	.progress 					{  margin-top: 3px; height: 14px; margin-bottom: 0; }
}
.animal-goal 					{  font-weight: bold; font-size: 18px; color: #555;}
.animal-name 					{  clear: both; margin-top: 5px; color: #555; font-family: 'Merienda', cursive; font-weight: bold; font-size: 18px; }
.animal-location 				{  text-align: right; color: #838080; }
.animal-icon 					{  @include box-shadow(rgba(black, .2) 0 0px 1px); @include border-radius(1000px); background-color: #fff; z-index: 40; border: 1px solid #eee; height: 50px; width: 50px; position: absolute; top: 0; left: 0; 
	&:after 					{  content: ""; height: 45px; width: 45px; @include border-radius(1000px); position: absolute; z-index: 60; top: 3px; left: 3px;  }
	&.dog-bg:after				{  background: $pastel-blue image-url("bg-images/dog-white.png") no-repeat 50% 30%; }
	&.cat-bg:after 				{  background: $pastel-red image-url("bg-images/cat-white.png") no-repeat 57% 38%;  }
	&.bird-bg:after				{  background: $pastel-yellow image-url("bg-images/bird-white.png") no-repeat 50% 40%;   }
	&.other-bg:after 			{  background: $pastel-green image-url("bg-images/other-white.png") no-repeat 50% 30%;  }
}
.dropdown-link 					{  }
.animal-profile-wrapper			{  @include border-radius; padding: 20px 0;}
.animal-profile 				{  @include box-shadow(rgba(black, .2) 0 0px 1px); @include border-radius; background-color: #fff; margin: 20px; border: 1px solid #eee; overflow: auto; position: relative; 
	.image-wrapper				{  max-width: 300px; max-height: 300px;  }
	.animal-icon 				{  top: 20px; left: 42px; }
	.animal-profile-content 	{  background-color: #fff; @include responsive-width(75%); padding: 20px 40px 60px; border-right: 1px solid #eee; float: left; position: relative;  }
	.animal-profile-sidebar 	{  @include responsive-width(25%); padding: 20px 20px 60px;border-left: 1px solid #fff; float: left; background-color: #f6f6f6; position: absolute; top: 0; bottom: 0; right: 0;  }
}
.animal-profile-title 			{  padding-left: 60px; }
.animal-profile-name 			{  font-family: 'Merienda', cursive; font-size: 24px; font-weight: bold; margin-top: 10px; }
.animal-profile-location 		{  color: #838080; font-size: 14px; }
.animal-profile-article 		{  clear: both; 
	img 						{  float: left; padding-top: 10px; padding-right: 20px; padding-bottom: 20px; @include border-radius; }
}
.animal-profile-favorite 		{  margin-top: 4px; }
.goal-progress 					{  font-size: 16px; font-weight: bold; color: #737272; 

	.goal-money 				{  color: #478e31; font-size: 24px; }
}
.goal-area 						{  clear: both; overflow: auto; border-bottom: 1px solid #ddd; padding-bottom: 20px;  }
.nonprofit-summary 				{  border-top: 1px solid #fff; 
	h4 							{  margin-bottom: 0; margin-top: 10px; }
	p 							{  margin-bottom: 0; font-size: 12px; }
}
.donate-button 					{  margin-bottom: 30px; @include responsive-width(100%); padding: 11px 19px; background-color: #d34d41; border: 1px solid #bd4237;  }