html 						{ background-color: #fffcec; color: #4d4a46; text-align: center; font-family: "Helvetica", "Helvetica-neue", "Arial", sans-serif; }
img 						{  margin-top: 100px; }
h1 							{  font-size: 40px; margin-bottom: 5px;  }
h2 							{  font-size: 36px; }
p 							{  font-size: 20px; line-height: 30px; }