<%= image_tag "bg-images/logo-large.png" %>
<h1>Rescue Funder</h1>
<p>A platform for animal rescue centers to <br /> raise money for a rescued animal.</p>
<h2>Coming Soon!</h2>
<p>Follow us: 
	<a href="https://www.facebook.com/pages/Rescue-Funder/152643444912459">Facebook</a> |
	<a href="https://twitter.com/RescueFunder">Twitter</a>
</p>