<!-- <h1>Rescue Funder</h1>
<h2>A platform for animal rescue centers to raise money for a specific animal's care</h2>
<h1>Coming Soon</h1> -->

<div id="header-region"></div>
<div id="main-region"></div>
<div id="footer-region"></div>

<%= javascript_tag do %>
	$(function() {
		Hub.start({
			animalTypes: gon.animal_types
		});
	});
<% end %>
