<div id="header-region"></div>
<div id="main-region"></div>
<div id="footer-region"></div>

<%= javascript_tag do %>
	$(function() {
		Hub.start({
			animalTypes: gon.animal_types
		});
	});
<% end %>
