<!DOCTYPE html>
<html>
	<head>
		<title>Rescue Funder</title>
		<meta name="description" content="A platform for animal rescue centers to raise money for a rescued animal. Coming Soon!" />
		<%= stylesheet_link_tag "coming-soon" %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>